@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:300|Roboto&display=swap');

/*font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;*/

html, body {
    background-color: black;
    margin: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
}

p {
    font-size: 1.1em;
    line-height: 1em;
}

a {
    font-family: 'Montserrat', sans-serif;
}

.icon-wrapper {
    margin-right: 20px;
    color: white;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    color: grey;
}

.title-button {
    font-size: 1em !important;
}

.s1 {
    background: url('../img/bulb_new.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

    .s1 h1 {
        border-bottom: 1px solid white;
        text-align: left;
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .s1 .content-wrapper {
        margin-left: auto;
        width: 92%;
        background-color: rgba(39,53,77,0.3);
        padding: 0.5em;
        border-radius: 20px;
        margin: auto;
    }


.s2 {
    background: url('../img/projects_crop.jpg');
    background-size: auto;
}

    .s2 h1 {
        border-bottom: 1px solid white;
        text-align: left;
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .s2 .content-wrapper-small {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        margin-left: auto;
        width: 80%;
        background-color: rgba(39,53,77,0.3);
        padding: 1em;
        border-radius: 20px;
        margin: auto;
    }

    .s2 .content-wrapper {
        margin-left: auto;
        width: 80%;
        background-color: rgba(39,53,77,0.3);
        padding: 1em;
        border-radius: 20px;
        margin: auto;
    }

    .s2 .slide-content-wrapper {
        width: 90%;
        background-color: rgba(39,53,77,0.3);
        padding: 1.5em;
        border-radius: 20px;
        margin-left: auto;
    }

    .s2 .slide-content-image-wrapper {
        width: 90%;
        background-color: rgba(39,53,77,0.3);
        padding: 1.5em;
        border-radius: 20px;
        margin-right: auto;
        text-align: center;
        overflow: hidden;
    }

    .s2 p {
        font-size: 1.6em;
        line-height: 1.5em;
    }


.s3 {
    background: url('../img/contact_crop.jpg');
    background-size: auto;
}

    .s3 h1 {
        border-bottom: 1px solid white;
        text-align: left;
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .s3 .content-wrapper {
        margin-left: auto;
        width: 92%;
        background-color: rgba(39,53,77,0.3);
        padding: 0.5em;
        border-radius: 20px;
        margin: auto;
    }

    .s3 p {
        font-size: 1.6em;
        line-height: 1.5em;
    }

#fp-nav {
    top: 60px;
    margin-right: 20px;
}

    #fp-nav span {
        background: white !important;
    }

.header {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    color: white;
    margin-left: 1em;
    margin-top: 0.5em;
    background-color: rgba(39,53,77,0.3);
    padding: 1em;
    border-radius: 20px;
    text-align: left;
    height: 90px;
    width: calc(100% - 2em);
}

.header-title {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
    margin-right: 10px;
}

.header-subtitle {
    color: #dfe3eb;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

    .header-subtitle p {
        color: grey;
        font-size: 0.8em;
    }

.tech-btn {
    font-family: 'Montserrat', sans-serif;
    border: 0;
    background-color: rgb(74, 66, 104);
    color: rgb(163, 158, 158);
    font-size: 0.5em;
    border-radius: 2px;
    pointer-events: none;
    margin-bottom: 0px;
}

.project-img {
    width: 100%;
}

.arrow-up {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%) scale(0);
}

.arrow-down {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%) scale(0);
}

.contact {
    font-size: 2em;
}

    .contact i {
        margin-right: 10px;
    }

.hidden-small {
    display: none;
}


@media (min-width: 768px) {
    .hidden-large {
        display: none;
    }

    .hidden-small {
        display: block;
    }

    p {
        font-size: 1.2em;
    }

    a {
        font-family: 'Montserrat', sans-serif;
    }

    .icon-wrapper {
        margin-right: 20px;
        color: white;
    }

    h1 {
        text-align: center;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    h4 {
        color: grey;
    }

    .title-button {
        font-size: 1em !important;
    }

    .s1 {
        background: url('../img/bulb_new.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }

        .s1 h1 {
            border-bottom: 1px solid white;
            text-align: left;
            font-size: 3em;
            margin-bottom: 0.5em;
        }

        .s1 .content-wrapper {
            margin-left: auto;
            width: 800px;
            background-color: rgba(39,53,77,0.3);
            padding: 1.5em;
            border-radius: 20px;
            margin-right: 12em;
        }


    .s2 {
        background: url('../img/projects_crop.jpg');
        background-size: auto;
    }

        .s2 h1 {
            border-bottom: 1px solid white;
            text-align: left;
            font-size: 3em;
            margin-bottom: 0.5em;
        }

        .s2 .content-wrapper {
            margin-right: auto;
            width: 600px;
            background-color: rgba(39,53,77,0.3);
            padding: 1.5em;
            border-radius: 20px;
            margin-left: 6em;
        }

        .s2 .slide-content-wrapper {
            width: 90%;
            background-color: rgba(39,53,77,0.3);
            padding: 1.5em;
            border-radius: 20px;
            margin-left: auto;
        }

        .s2 .slide-content-image-wrapper {
            width: 90%;
            background-color: rgba(39,53,77,0.3);
            padding: 1.5em;
            border-radius: 20px;
            margin-right: auto;
            text-align: center;
            overflow: hidden;
        }




    .s3 {
        background: url('../img/contact_crop.jpg');
        background-size: auto;
    }

        .s3 h1 {
            border-bottom: 1px solid white;
            text-align: left;
            font-size: 3em;
            margin-bottom: 0.5em;
        }

        .s3 .content-wrapper {
            margin-right: auto;
            width: 600px;
            background-color: rgba(39,53,77,0.3);
            padding: 1.5em;
            border-radius: 20px;
            margin-left: 6em;
        }


    #fp-nav {
        top: 8%;
        margin-right: 30px;
    }

        #fp-nav span {
            background: white !important;
        }

    .header {
        position: absolute;
        display: inline-flex;
        top: 0px;
        left: 0px;
        color: white;
        margin-left: 2em;
        margin-top: 1.5em;
        background-color: rgba(39,53,77,0.3);
        padding: 1em;
        border-radius: 20px;
        text-align: center;
        height: 100px;
        width: calc(100% - 4em);
    }

    .header-title {
        font-size: 4em;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: -10px;
        margin-top: -10px;
        border-right: 1px solid white;
        padding-right: 10px;
        margin-right: 10px;
    }

    .header-subtitle {
        color: #dfe3eb;
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
    }

        .header-subtitle p {
            color: grey;
            font-size: 0.5em;
        }

    .tech-btn {
        font-family: 'Montserrat', sans-serif;
        border: 0;
        background-color: rgb(74, 66, 104);
        color: rgb(163, 158, 158);
        font-size: 1em;
        border-radius: 2px;
        pointer-events: none;
        margin-bottom: 3px;
    }

    .project-img {
        width: 100%;
    }

    .arrow-up {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%) scale(0);
    }

    .arrow-down {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%) scale(0);
    }

    .contact {
        font-size: 2em;
    }

        .contact i {
            margin-right: 10px;
        }
}

@media (min-width: 1120px) {
    p {
        font-size: 1.2em;
    }

    a {
        font-family: 'Montserrat', sans-serif;
    }

    .icon-wrapper {
        margin-right: 20px;
        color: white;
    }

    h1 {
        text-align: center;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    h4 {
        color: grey;
    }

    .title-button {
        font-size: 1em !important;
    }

    .s1 {
        background: url('../img/bulb_new.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }

        .s1 h1 {
            border-bottom: 1px solid white;
            text-align: left;
            font-size: 3em;
            margin-bottom: 0.5em;
        }

        .s1 .content-wrapper {
            margin-left: auto;
            width: 800px;
            background-color: rgba(39,53,77,0.3);
            padding: 1.5em;
            border-radius: 20px;
            margin-right: 12em;
        }


    .s2 {
        background: url('../img/projects_crop.jpg');
        background-size: auto;
    }

        .s2 h1 {
            border-bottom: 1px solid white;
            text-align: left;
            font-size: 3em;
            margin-bottom: 0.5em;
        }

        .s2 .content-wrapper {
            margin-right: auto;
            width: 600px;
            background-color: rgba(39,53,77,0.3);
            padding: 1.5em;
            border-radius: 20px;
            margin-left: 6em;
        }

        .s2 .slide-content-wrapper {
            width: 90%;
            background-color: rgba(39,53,77,0.3);
            padding: 1.5em;
            border-radius: 20px;
            margin-left: auto;
        }

        .s2 .slide-content-image-wrapper {
            width: 90%;
            background-color: rgba(39,53,77,0.3);
            padding: 1.5em;
            border-radius: 20px;
            margin-right: auto;
            text-align: center;
            overflow: hidden;
        }




    .s3 {
        background: url('../img/contact_crop.jpg');
        background-size: auto;
    }

        .s3 h1 {
            border-bottom: 1px solid white;
            text-align: left;
            font-size: 3em;
            margin-bottom: 0.5em;
        }

        .s3 .content-wrapper {
            margin-right: auto;
            width: 600px;
            background-color: rgba(39,53,77,0.3);
            padding: 1.5em;
            border-radius: 20px;
            margin-left: 6em;
        }


    #fp-nav {
        top: 8%;
        margin-right: 30px;
    }

        #fp-nav span {
            background: white !important;
        }

    .header {
        position: absolute;
        display: inline-flex;
        top: 0px;
        left: 0px;
        color: white;
        margin-left: 2em;
        margin-top: 1.5em;
        background-color: rgba(39,53,77,0.3);
        padding: 1em;
        border-radius: 20px;
        text-align: center;
        height: 100px;
        width: calc(100% - 4em);
    }

    .header-title {
        font-size: 4em;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: -10px;
        margin-top: -10px;
        border-right: 1px solid white;
        padding-right: 10px;
        margin-right: 10px;
    }

    .header-subtitle {
        color: #dfe3eb;
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
    }

        .header-subtitle p {
            color: grey;
            font-size: 0.5em;
        }

    .tech-btn {
        font-family: 'Montserrat', sans-serif;
        border: 0;
        background-color: rgb(74, 66, 104);
        color: rgb(163, 158, 158);
        font-size: 1em;
        border-radius: 2px;
        pointer-events: none;
        margin-bottom: 3px;
    }

    .project-img {
        width: 100%;
    }

    .arrow-up {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%) scale(0);
    }

    .arrow-down {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%) scale(0);
    }

    .contact {
        font-size: 2em;
    }

        .contact i {
            margin-right: 10px;
        }
}
