@page
@model Portfolio.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<div class="project-wrapper">
    <div class="row align-items-center">
        <div class="jumbotron ">
            <h1>Sweets For You App</h1>
            <h4>Client Project</h4>
            <p>
                Webshop with user login, administration and order handling.
                <br />
                Take a look at the app <a href="http://sweetsforyou.se">here</a>!
            </p>
            <P>Technologies used:
                <div class="buttons">
                    <button type="button" class="tech-btn">+ .NET Core</button>
                    <button type="button" class="tech-btn">+ Entity Framework</button>
                    <button type="button" class="tech-btn">+ MSSQL</button>
                    <button type="button" class="tech-btn">+ Razor Syntax</button>
                </div>
            </P>
            <a href="~/img/sweets1.PNG"><img class="project-img" src="~/img/sweets1crop.PNG" alt="Alternate Text" /></a>
        </div>

    </div>

    <div class="row align-items-center">
        <div class="jumbotron">
            <div class="slide-content-wrapper ">
                <h1>Dashboard Example</h1>
                <p>
                    Dashboard mockup for further development.
                </p>
                <P>
                    Technologies used:
                    <div class="buttons">
                        <button type="button" class="tech-btn">+ HTML</button>
                        <button type="button" class="tech-btn">+ CSS</button>
                        <button type="button" class="tech-btn">+ Bootsrap</button>
                        <button type="button" class="tech-btn">+ JavaScript</button>
                    </div>
                
                </P>

            </div>
            <a href="~/img/dashboard1.PNG"><img class="project-img" src="~/img/dashboard1.PNG" alt="Alternate Text" /></a>

        </div>
    </div>

    <div class="row align-items-center">
        <div class="jumbotron">
            <div class="slide-content-wrapper ">
                <h1>Production Simulator</h1>
                <p>
                    Application that simulates production data parameters in realtime for future project that will calculate production efficiency.
                </p>
                <P>
                    Technologies used:
                    <div class="buttons">
                        <button type="button" class="tech-btn">+ .NET Core</button>
                        <button type="button" class="tech-btn">+ Razor Syntax</button>
                        <button type="button" class="tech-btn">+ SignalR</button>
                        <button type="button" class="tech-btn">+ Chart.js</button>
                    </div>
                </P>

            </div>
            <a href="~/img/prod_simulator.png"><img class="project-img" src="~/img/prod_simulator.png" alt="Alternate Text" /></a>

        </div>
    </div>

    <div class="row align-items-center">
        <div class="jumbotron">
            <div class="slide-content-wrapper ">
                <h1>Service Management App</h1>
                <p>
                    Application for service management with AD logins, file-uploads (Azure blob storage), issue and actions handling and more.
                </p>
                <P>
                    Technologies used:
                    <div class="buttons">
                        <button type="button" class="tech-btn">+ .NET Core</button>
                        <button type="button" class="tech-btn">+ Entity Framework</button>
                        <button type="button" class="tech-btn">+ Angular</button>
                        <button type="button" class="tech-btn">+ MSSQL</button>
                    </div>
                </P>

            </div>
            <img class="project-img" src="~/img/servicemanagement2.jpg" alt="Alternate Text" />

        </div>
    </div>



</div>
